.clear {
  clear: both;
}

a.nav {
  text-transform: lowercase;
  padding-left: 20px;
  margin-bottom: 5px;
  float: right;
  clear: right;
}

.flash {
  color: #fff;
  background-color:black;
  float:right;
  font-size:14px;
  margin-bottom:20px;
  margin-right:19px;
  margin-top:-30px;
  padding:10px 20px;
}

.error {
  background-color: red;
  color: #fff;
}

.field label {
  display: block;
  font-weight: bold;
}