<div class="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <h2><%= post.title %></h2>
      <div class="body">
        <%= post.body %>
      </div>
      <div class="panel">
        <%= link_to "read post", post_path(post) %>
      </div>
    </div>
  <% end %>

  <% if @posts.empty? %>
    <p class="empty">
      No posts yet!
    </p>
  <% end %>
</div>

<% if admin? %>
  <% content_for :admin do %>
    <%= link_to "New Post", new_post_path, :class => "nav" %>
  <% end %>
<% end %>