<div class="posts">
  <% @posts.each do |post| %>
    <%= render "post", :post => post %>
  <% end %>

  <% if @posts.empty? %>
    <p class="empty">
      No posts yet!
    </p>
  <% end %>
</div>

<% if admin? %>
  <% content_for :admin do %>
    <%= link_to "New Post", new_post_path, :class => "nav" %>
  <% end %>
<% end %>